# =========================
# JUCE
# =========================
# Ignoramos la carpeta de compilación porque Projucer la genera automáticamente 
# y contiene todos los binarios pesados e intermedios.
Builds/

# =========================
# Visual Studio / Windows
# =========================
.vs/
*.user
*.suo
*.sdf
*.db
*.opendb
*.VC.db
*.sln.docstates

# =========================
# macOS / Xcode (Por si colaboras con alguien en Mac)
# =========================
*.xcuserdata/
xcuserdata/
*.xcworkspace/
.DS_Store

# =========================
# Binarios y Compilados
# =========================
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp
*.idb
*.vst3
*.component
*.aaxplugin

# =========================
# Archivos temporales y logs
# =========================
*.log
*.tmp
*.crash
